.landing {
    display: flex;
  }
  
  .left {
    padding: 10%;
    background-color: rgb(134, 47, 47);
    transition: width 2s, background-color 2s, padding 2s;
  }
  
  
  .left img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%; /* Ensure image doesn't exceed the left block's boundaries */
    transition: margin-left 2s;
  }

  .left img:hover{
    margin-left: 50%;
  }
  
  .right {
    background-color: rgb(6, 73, 73);
    transition: width 2s, background-color 2s, padding 2s;
     padding: 10%;
     
  }
  
  .right img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;/* Ensure image doesn't exceed the left block's boundaries */
    transition: margin-left 2s;
  }

  .right img:hover{
    margin-left: 100%;
  }

  .right:hover {
    width: auto; /* Take up the entire screen */
    height: auto;
    /* padding-left: 50%;  */
    padding-right: 37%;
    background-color: peru;

  }
  

  .left:hover {
    width: auto; /* Take up the entire screen */
    background-color: goldenrod;
    /* padding-left: 50%; */
    padding-right: 37%; /* Remove padding */
    height: auto;
  }
  