
.abtWhyUs {
background-image: url("../../assets/doodle.jpg");
background-attachment: fixed;
background-position: center;
    
}
@media only screen and (max-width: 1024px) {
    .abtWhyUs {

        background-attachment: scroll;
        height: auto;
    width: 100vw;
    background-repeat: repeat-y;
    }
}

/* For mobile devices (landscape and portrait) */
@media only screen and (max-width: 768px) {
    .abtWhyUs {
        background-attachment: scroll;
        height: auto;
    width: 100vw;
    }
}