.home2half{

    background-image: linear-gradient(to right, rgb(241, 241, 239), rgb(14, 168, 240));

}

.aboutContent{
    padding: 2%;
    
}








.paraText{
    font-size: larger;
    
    color: rgb(87, 84, 87);

    
    
}